name: Context Demo

on: 
    push:
        branches:
            - main
    workflow_dispatch:
        inputs:
          environment:
            description: Umgebung feslegen
            required: true
            default: 'Development'
            type: choice
            options:
              - Production
              - Development

jobs:
    Analysis:
        name: Erste Analyse
        runs-on: ubuntu-latest
        environment: ${{ github.event.inputs.environment }}
        # environment: ${{ github.ref_name == 'main' && 'production' || 'development' }}
        outputs:
          secret-message: ${{steps.get_secret_message.outputs.message}}

        steps:
            - name: Zeige unser Geheimnis
              run: |
                 echo "Geheimnis lautet: ${{ secrets.MY_SECRET }}"

            - name: Secret auf Datev pr端fen
              env: 
                GEHEIM: ${{ secrets.MY_SECRET }}
              if: env.GEHEIM == 'I love Datev'
            # if: ${{ github.ref_name == 'main' }}
              run: echo "Viel liebe f端r Datev"

            - name: Secret auf Datev (production) pr端fen
              env: 
                GEHEIM: ${{ secrets.MY_SECRET }}
              if: env.GEHEIM == 'I really love Datev'
              run: echo "Viel liebe f端r Datev (Production Version)"

            - name: Zeige GitHub Kontext
              run: echo '${{ toJson(github) }}'

            - name: Zeige Steps Kontext
              run: echo '${{ toJson(steps) }}'

            - name: Zeige Runner Kontext
              run: echo '${{ toJson(runner) }}'

            - name: Commit Message lesen
              id: get_secret_message
              run: echo "message=Wuhuu!" >> "$GITHUB_OUTPUT"

    job2:
        name: Zeige Werte aus Job 1 (Analysis)
        runs-on: ubuntu-latest
        needs: Analysis

        steps:
          - name: Outputs anzeigen
            run: |
             echo "Geheime Message aus Job 1: ${{ needs.Analysis.outputs.secret-message }}"
