# Workflow konfiguration (Metadaten)
name: Hello World
description: Das ist nur ein Hello World Beispiel

# Events
on: push

# Jobs
jobs:
    say-hello:
        runs-on: ubuntu-latest

        steps:
            - name: Aktuelles Verzeichnis ansehen
              run: pwd && ls -al

            - name: Checkout der Dateien
              uses: actions/checkout@v4

            - name: Aktuelles Verzeichnis ansehen
              run: pwd && ls -al
    
    say-bye:
        runs-on: ubuntu-latest
        needs: say-hello

        steps:
            - name: Abschied
              run: echo "Bye bye"