name: Wiederverwendbarer Workflow

on:
    workflow_call:
        inputs:
            name:
                required: true
                type: string

jobs:
    hello:
        runs-on: ubuntu-latest

        steps:
            - name: Begrüßen
              run: echo "Hallo ${{inputs.name}}"